AlarmClockWPFClient/Connected Services/ServiceReference1/AlarmClockWCFServiceIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmClockWCFServiceIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:34790/AlarmClockWCFServiceIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:34790/AlarmClockWCFServiceIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:34790/AlarmClockWCFServiceIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMA.APZRP2019.AlarmClock.DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmClockService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_AddAlarmClock_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmClock" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_AddAlarmClock_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmClockResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_DeleteAlarmClock_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarmClock" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_DeleteAlarmClock_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarmClockResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_UpdateAlarmClock_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlarmClock" />
  </wsdl:message>
  <wsdl:message name="IAlarmClockService_UpdateAlarmClock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlarmClockResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmClockService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmClockService/GetAllUsers" message="tns:IAlarmClockService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmClockService/GetAllUsersResponse" message="tns:IAlarmClockService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmClockService/AddUser" message="tns:IAlarmClockService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmClockService/AddUserResponse" message="tns:IAlarmClockService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmClockService/GetUser" message="tns:IAlarmClockService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmClockService/GetUserResponse" message="tns:IAlarmClockService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlarmClock">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmClockService/AddAlarmClock" message="tns:IAlarmClockService_AddAlarmClock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmClockService/AddAlarmClockResponse" message="tns:IAlarmClockService_AddAlarmClock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarmClock">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmClockService/DeleteAlarmClock" message="tns:IAlarmClockService_DeleteAlarmClock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmClockService/DeleteAlarmClockResponse" message="tns:IAlarmClockService_DeleteAlarmClock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarmClock">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmClockService/UpdateAlarmClock" message="tns:IAlarmClockService_UpdateAlarmClock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmClockService/UpdateAlarmClockResponse" message="tns:IAlarmClockService_UpdateAlarmClock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmClockService" type="tns:IAlarmClockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IAlarmClockService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IAlarmClockService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IAlarmClockService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlarmClock">
      <soap:operation soapAction="http://tempuri.org/IAlarmClockService/AddAlarmClock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarmClock">
      <soap:operation soapAction="http://tempuri.org/IAlarmClockService/DeleteAlarmClock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarmClock">
      <soap:operation soapAction="http://tempuri.org/IAlarmClockService/UpdateAlarmClock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmClockWCFServiceIIS">
    <wsdl:port name="BasicHttpBinding_IAlarmClockService" binding="tns:BasicHttpBinding_IAlarmClockService">
      <soap:address location="http://localhost:34790/AlarmClockWCFServiceIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>