AlarmClockWPFClient/Connected Services/ServiceReference1/AlarmClockWCFServiceIIS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KMA.APZRP2019.AlarmClock.DBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMA.APZRP2019.AlarmClock.DBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34790/AlarmClockWCFServiceIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="_alarmClocks" nillable="true" type="tns:ArrayOfAlarmClock" />
      <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element minOccurs="0" name="_lastLoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAlarmClock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmClock" nillable="true" type="tns:AlarmClock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmClock" nillable="true" type="tns:ArrayOfAlarmClock" />
  <xs:complexType name="AlarmClock">
    <xs:sequence>
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element minOccurs="0" name="_lastAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_nextAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_owner" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="_ownerGuid" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AlarmClock" nillable="true" type="tns:AlarmClock" />
</xs:schema>